#canvas {
    /* background: #c3d5b6; */
    border-radius: 5px;
    background-image: url(https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.pongPaddleOne {
    display: none;
}

.pongPaddleTwo {
    display: none;
}

.pongGameBall {
    border-radius: 50%;
    display: none;
}